.page {
    background: rgb(0, 64, 39);
}

.body {
    color: #fff0c3;
    text-align: center;
}

.pics {
    height: 400px;
    width: auto;
}

.links,
.links a,
.home {
    color: #fff0c3;
    list-style: none;
    text-decoration: none;
}